body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:400;
    line-height: 1.8em;
    color:#666;

}

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #282e34;
    width: 100%;
    height: 70px;
    z-index: 1;

}

.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-top: auto;



}

a{
    margin: 15px;
    color: #ddd;
    text-decoration: none;
    text-transform: lowercase;
}

a:hover{
    color: #ddd;
}





.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 

}

 


.pimg1{
    background-image: url('/static/compfest.JPG');
    min-height: 100%;
    
    
    

}

.pimg2{
    background-image: url('/static/jepang.JPG');
    min-height: 600px;
}

.pimg3{
    background-image: url('/static/pimg3.JPG');
    min-height: 400px;
}

.pimg4{
    background-image: url('/static/pimg4.JPG');
    min-height: 500px;
    
    
    

}





.section1{
    text-align: center;
    padding: 50px 80px;
    background-color: #282e34;
    color: #ddd;
}

.section2{
    text-align: center; 
    padding: 10px 10px;
    background-color: #282e34;
    color: #ddd;
}

.section3{
    text-align: center; 
    padding: 10px 10px;
    background-color: #282e34;
    color: #ddd;
}

.section4{
    text-align: center; 
    padding: 10px 10px;
    background-color: #282e34;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 10px;
    text-transform: lowercase;
}

@media(max-width: 570px){
    .pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6{
        background-attachment: scroll;
    }
}

