<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0>
    <meta http-equiv="X-UA-Compatible" content="ie-edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Friends Form</title>
  </head>
  <body>

    <div class="header">
        <h1 align="center">ANO'S FRIENDS</h1>
        <p align="center">if you're one of ano's friends, fill out the form!</p>
        
    </div> 
    <br/>
    <br/>

    
    
    <div class="container">
      <div class = "row">
        <div class = "col">
    <form action='' method="POST">
        {% csrf_token %}
        {{ form }}

      <br/>  

        <div class="centre-items">
          <input type="submit" class="btn btn-primary" value="Add Me!">
        </div>

        

       

    </form>
  </div>
  <div class="col" id="tulisan">    

    <table class = "table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Year</th>
          <th scope="col">Hobby</th>
        </tr>
      </thead>
      <tbody>
        {% for friendsano in fren %}
          <tr>
          <th scope="row">{{friendsano.Name}}</th>
          <td>{{friendsano.Year}}</td>
          <td>{{friendsano.Hobby}}</td>
          
        {% endfor %}
      </tbody>
    </table>
    </div>
    </div>
    
    <br/>
    <br/>

    <li><a href="/story4">Back to Ano's Website</a></li>

    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>