<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial=scale=1.0">
    <meta http-equiv="X-UA-Compatible"
    content="ie-edge">
    <title>Ano Website</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        a { color: #ffffff; } /* CSS link color */
      </style> 
</head>
<body>
    <div class="navbar">
        <ul class="nav">
            <li><a href="#profile">Profile</a></li>
            <li><a href="#cv">CV</a></li>
            <li><a href="#testimonial">Testimonial</a></li>
            <li><a href="#socialmedia">Social Media</a></li>
            <li><a href="/Friends">Friends</a></li>
        </ul>
    </div>
   


    <div class="pimg1" id="profile">
        <div class="ptext">
            <span class="border">
                Ano's Website
            </span>
        </div>
    </div>
<section class="section1" >
    <h2>My name is Ano, I'm a Computer Science student at Universitas Indonesia. 
        My hobbies are watching movies, playing video games and playing futsal. 
        I consider myself as an active, creative, and innovative person.</h2>
    
</section>

<div class="pimg2" id="cv">
    <div class="ptext">
        <span class="border trans">
            cv
        </span>
    </div>
</div>

<section class="section2">
    <h2>Went to SDN Menteng 03, SMPN 216, and SMAN 68 Jakarta

        <br/>
        <br/>

        Got in to Computer Science UI International Class via Talent Scouting

        <br/>
        <br/>

        Captained Computer Science UI Futsal Team 
        and Reached 2nd Place at Interweek UI 2019

        <br/>
        <br/>

        Sponsorship PIC at BAZKOM SMAN 68 2017

        <br/>
        <br/>

        Sponsorship VPIC at COMPFEST Fasilkom UI 2020

        <br/>
        <br/>

        Sponsorship PIC at PERAK Fasilkom UI 2020

    </h2>


   
</section>

<div class="pimg3" id="testimonial">
    <div class="ptext">
        <span class="border">
            what do they say about ano?
        </span>
    </div>
</div>

<section class="section3">
    <h2>
        “ano adalah anak yang baik. selain baik ano juga anak yang rajin.  hal ini terbukti nilai <br/> kuliahnya selalu meningkat setiap semester. selain itu ano juga suka sekali berorganisasi.”
        <br/>
        <br/>
        - Gibran Raksadinno, Computer Science Student
        <br/>
        <br/>
        <br/>
        “ano adalah orang yang santai, dia mudah berkenalan dengan orang lain dan seru untuk diajak main bersama.”
        <br/>
        <br/>
        - Akbar Novial, Computer Science Student
    </h2>
</section>

<div class="pimg4" id="socialmedia">
    <div class="ptext">
        <span class="border">
            Contact Me
        </span>
    </div>
</div>
<section class="section4">
    <h2><a href="https://twitter.com/aw_venger">Twitter</a>
    <br/>
    <br/>
    <a href="https://www.facebook.com/qorano.wanggai.1">Facebook</a>
    <br/>
    <br/>
    <a href="https://www.instagram.com/anowanggai">Instagram</a>
    </h2>
    
</section>

</body>
<html>